:host {
  display: inline-block;
  color: black;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  z-index: 20;
  background-color: rgba(255,255,255,0.8);
}

#options > * {
  display: block;
  margin: 10px;

}

label {
  margin: 10px;
  vertical-align: top;
}

paper-toggle-button::shadow [checked] .toggle {
  background-color: #536482;
}

paper-toggle-button::shadow [checked] .toggle-ink {
  color: #536482;
}


paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #536482;
}

paper-slider::shadow #sliderKnobInner {
  background-color: #536482;
}

paper-slider::shadow #sliderKnobInner::before {
  background-color: #536482;
}


.selector {
  min-height: 10px;
  max-height: 100px;
  overflow-y: scroll; 
  display: inline-block;
  border: 1px solid #EEE;
  width: 265px;
  cursor: pointer;
}
core-selector {
  min-height: 10px;
  max-height: 100px;
  overflow-y: scroll; 
  display: inline-block;
  border: 1px solid #EEE;
  cursor: pointer;
  background-color: white;
}

core-selector div {
  padding: 1px;
  display: block;
  margin: 0 3px;
  padding: 1px;
}

core-selector div:hover {
  background-color: #eee;
}

core-selector .core-selected {
  background-color: #ccc;
}


